.navbar .navbar-brand img {
    max-width: 20rem;
}

@media(max-width:991px) {
    .navbar .navbar-brand {
        width: calc(100% - 3rem);
    }
}

.contact__info_item {
    height: 100%;
}

.btn-primary {
    font-weight: bold;
}

.resume__education_item {
    img {
        max-width: 100%;
    }
}
