{{ with .Site.Data.resumeSection }}
{{ if .enable }}
<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <div class="text-light">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {{ range .faq }}
                <div class="resume__education_item">
                    {{ .content | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-0 col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <div class="hero_figure">
                <div class="figure-svg">
                    <img src="images/about/about-mask-svg.svg" alt="figure-svg" />
                </div>
                <img src="{{ .image | absURL }}" alt="hero-image" style='
                -webkit-mask: url({{"images/about/about-mask-svg.svg" | absURL }});
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                -webkit-mask-position: center center;
                ' />
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
